.order{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.order h1{
    font-size: 40px;
    width: 1620px;
}
.block-order-info{
    border: 1px black solid;
    border-radius: 10px;
    height: 758px;
    width: 1620px;
    display:flex;
    flex-direction: column;
    margin-bottom: 75px;
    padding-top: 50px;
}
.block-order-info p{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.buttons{
    margin-left: 50px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.confirm-button{
    width: 400px;
    height: 50px;
    background-color: rgba(0, 148, 255, 1);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.ready-button{
    width: 400px;
    height: 50px;
    background-color: rgb(133, 133, 133);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.cancel-button{
    width: 400px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.order-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
    gap: 20px;
}
@media(max-width: 1280px){
    .order{
        width: 1280px;
    }
    .order-head{
        width: 1200px; 
    }
    .order-head h1{
        font-size: 30px;
    }
    .block-order-info{
        width: 1200px;
    }
    .buttons{
        width: 1100px;
    }
}
@media(max-width: 768px){
    .order{
        width: 768px;
    }
    .order-head{
        width: 600px;
    }
    .order-head h1{
        font-size: 20px;
        width: 600px;
    }
    .block-order-info{
        width: 600px;
    }
    .block-order-info p{
        font-size: 20px;
    }
    .buttons{
        flex-direction: column;
        gap: 30px;
    }
}
@media(max-width: 320px){
    .order{
        width: 320px;
    }
    .order-head{
        width: 300px;
    }
    .order-head h1{
        font-size: 20px;
        width: 300px;
    }
    .block-order-info{
        width: 300px;
    }
    .block-order-info p{
        font-size: 14px;
    }
    .buttons{
        flex-direction: column;
        gap: 30px;
    }
    .confirm-button, .cancel-button,.ready-button{
        width: 200px;
        font-size: 14px;
    }
}