.log-out{
    cursor:pointer;
    width: 400px;
    height: 56px;
    background-color: rgba(206, 0, 0, 1);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 70px;
    margin-left: 136px;
}
.profile-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-data{
    width: 1620px;
    height: 576px;
    border: 2px rgba(181, 181, 181, 1) solid;
    border-radius: 10px;
    margin: 50px;
}
.user-type{
    font-size: 50px;
    width: 1620px;
    margin-left: 25px;
}
.user-data p{
    margin-top: 50px;
    font-size: 30px;
}
.user-info{
    margin-top: 45px;
    margin-left: 136px;
    margin-right: 136px;
    display: flex;
    justify-content: space-between;
}
.info-current{
    text-align: right;
}
.profile-head{
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.order-data{
    width: 1620px;
    height: 576px;
    border: 2px rgba(181, 181, 181, 1) solid;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}