.main-confirm{
    margin-top: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 187px;
}
.order-status{
    font-size: 25px;
}
.back-to-home{
    background-color: rgba(0, 148, 255, 1);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-top: 50px;
    width: 400px;
    height: 56px;
    transition: 0.2s linear;
}
.back-to-home a{
    display: block;
    width: 257px;
    height: 54px;
    padding-top: 15px;
    margin-left: 70px;
    color:white;
    text-decoration: none;
}
.back-to-home:hover{
    background-color: #0072c4;
}